* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(235, 235, 235);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4b47bf;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.loader {
    text-align: center;
}

.loader-img {
    width: 70%;
}

.bento {
    background: #fff;
    width: 97%;
    margin: 10px auto 0;
    border-radius: 16px;
    padding: 5vw; /* Utilisation de l'unité relative vw pour le padding */
    position: relative;
    height: auto; /* Utilisation de la hauteur automatique */
}

.bento h1 {
    color: rgb(75, 71, 191);
    font-size: 4vw; /* Utilisation de l'unité relative vw pour la taille de la police */
    background: #aca9ea;
    text-align: center;
    border-radius: 16px;
    padding: 3vw; /* Utilisation de l'unité relative vw pour le padding */
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
}

.bento h2 {
    color: #4b47bf;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5vw; /* Utilisation de l'unité relative vw pour le padding */
    text-align: center;
    font-size: 3.5vw; /* Utilisation de l'unité relative vw pour la taille de la police */
}

#question-image {
    display: block;
    margin: 0 auto;
    max-width: 90%; /* Utilisation de max-width pour s'assurer que l'image ne dépasse pas de l'écran */
    border-radius: 16px;
}

.btn {
    background: #fff;
    color: #4b47bf;
    width: 90%;
    padding: 3vw; /* Utilisation de l'unité relative vw pour le padding */
    margin: 3vw auto; /* Utilisation de l'unité relative vw pour la marge */
    border-radius: 16px;
    transition: all 0.3s;
    text-align: center;
    border: none;
    display: block;
    font-size: 3vw; /* Utilisation de l'unité relative vw pour la taille de la police */
    font-weight: 700;
}

.btn:hover:not([disabled]) {
    background: rgb(75, 71, 191);
    color: white;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #4b47bf;
    color: white;
    width: 30vw; /* Utilisation de l'unité relative vw pour la largeur */
    padding: 2vw; /* Utilisation de l'unité relative vw pour le padding */
    margin: 5vw auto 0; /* Utilisation de l'unité relative vw pour la marge */
    border-radius: 8px;
    cursor: pointer;
    display: none;
    font-size: 2.5vw; /* Utilisation de l'unité relative vw pour la taille de la police */
}

.correct {
    background: rgb(113, 218, 145);
    color: white;
}

.incorrect {
    background: rgb(218, 66, 84);
    color: white;
}

/* Styles spécifiques pour les appareils mobiles */
@media only screen and (max-width: 600px) {
    .bento h1 {
        font-size: 14px;
        padding: 10px; /* Ajustement du padding pour les petits écrans */
    }

    .bento h2 {
        font-size: 18px;
        padding: 5px; /* Ajustement du padding pour les petits écrans */
    }

    .btn {
        font-size: 14px;
        padding: 10px; /* Ajustement du padding pour les petits écrans */
        margin: 5px auto; /* Ajustement de la marge pour les petits écrans */
    }

    #next-btn {
        width: 150px;
        font-size: 14px;
        padding: 10px; /* Ajustement du padding pour les petits écrans */
        margin-top: 10px; /* Ajustement de la marge pour les petits écrans */
    }
}
